.content {
    display: grid;
    grid-area: c;
    /*background: #E9EFF6;*/
    border-radius: 7px;
    background-color: #E9EFF6;
;


    /*max-width: 950px;*/
    margin: 0 auto;

    /*grid-template-columns: 2fr 10fr;*/
}
.ava {
    width: 50px;
}