
.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog {

}

.dialogsItems {
    padding: 10px;
    color: mediumseagreen;
    text-decoration: none;
}
.dialogsItems .active {
    color: gold;

}

.messages {
    padding: 10px;

}

.messages .message {
    color: rebeccapurple;

}
/*img {*/
/*    height: 35px;*/
/*}*/
.dialog img {
    width: 40px;
    border-radius: 45;

}