
.dialog {
    display: grid;
    /*grid-template-columns: 2fr 10fr;*/
    padding: 10px;
    /*background-color: white;*/
}

.dialogItem {
    width: 100%;
    padding: 10px;
    color: mediumseagreen;
    text-decoration: none;
    background-color: white;
}
.dialogsItem .active {
    color: gold;
}

.messages {
    padding: 10px;

}

.messages .message {
    color: rebeccapurple;

}
.ava {
    width: 40px;
    border-radius: 45px;

}