.app-wrapper {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-areas:
  "h h"
  "n c"
  "n c"
;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
.app-wrapper-content {

  grid-area: c;
  background-color: lightskyblue;
  border-radius: 7px;


}





