.app-wrapper {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #E9EFF6;

  grid-template-areas:
  "h h"
  "n c"
  "n c"
;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
.app-wrapper-content {

  grid-area: c;
  background-color: #E9EFF6;
  border-radius: 7px;
}
textarea {
  width: 96%;
  margin-bottom: 10px;
  background: #E9EFF6;
  line-height: 40px;
  border-width: 0;
  border-radius: 7px;
  font-family: 'Roboto', sans-serif
}

button {
  color: white;
  content: "";
  width: 70px;
  height: 40px;
  background: rebeccapurple;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif

}






