
.container {
    display: grid;
    grid-template-areas: d m;
    grid-template-columns: 2fr 10fr;


}

.dialog {

}

.dialogsItems  {
    grid-areas: d;
    padding: 10px;
    color: rebeccapurple;

}
.dialogsItems NavLink.active {
    color: #fff32a;
    text-shadow: 1px 1px 2px rebeccapurple;
    font-size: 1.3em;

}

.messages {
    grid-areas: m;
    padding: 10px;
    text-align: right;
}

.messages .message {
    color: rebeccapurple;

}

.sendMessage textarea {
    background-color: white;
}
