
.dialogs {
    display: grid;
    grid-template-areas: d  m;
    max-width: 950px;
    margin: 0 auto;

    grid-template-columns: 2fr 10fr;
}


.dialog {

}

.dialogsItems {
    grid-areas: d;

    text-decoration: none;

    padding: 10px;
    color: rebeccapurple;

}
.dialogsItems .active {
    color: #fff32a;
    text-shadow: 1px 1px 2px rebeccapurple;
    font-size: 1.3em;

}

.messages {
    grid-areas: m;

    padding: 10px;
    text-align: right;
}

.messages .message {
    color: rebeccapurple;

}

/*textarea {*/
/*    width: 100%;*/
/*    margin-bottom: 10px;*/
/*    background: #E9EFF6;*/
/*    line-height: 40px;*/
/*    border-width: 0;*/
/*    border-radius: 7px;*/
/*    font-family: 'Roboto', sans-serif*/
/*}*/
.sendMessage {

}
